#app {
	@include grid(35% 65%, 100%);
	max-width: 1200px;
	margin: 50px auto;
	padding: 0 30px 0 0;
	background-color: $white;
	border-radius: 10px;
	border: 1px solid transparentize($color: $black, $amount: .9);	
}

main {
	@include grid(100%, auto);
	padding: 0 0 20px 0;

	h1 {
		@include size(100%, auto, table);
		@include text(35px, left, $indigo);
		position: relative;
		margin: 50px 0 50px 0;
		z-index: 3;

		&:before {
			content:"";
			@include size(100px, 100px);
			@include position(-30px, null, null, -60px);
			border-radius: 50%;
			background-color: $white;
			z-index: -1;
		}
	}

	ul {
		@include grid(repeat(2, 1fr), null, 20px);
		clear: both;

		.dev-item {
			@include size(95%, auto, table);
			min-height: 150px;
			position: relative;
			margin: 0 0 20px 0;
			border-radius: 5px;
			background-color: $white;
			border: 1px solid $lightgray;

			header {
				@include grid(17% 83%, auto);
				position: relative;

				img {
					@include size(80px);
					@include position(-20px, null, null, -20px);
					border-radius: 50%;
					border: 5px solid $lightgray;
				}
			}

			.user-info {
				padding: 5px 0 5px 10px;

				strong {
					@include text(16px, left, $darkgray);
					display: block;
					padding: 5px 0;
				}

				.icon-css, 
				.icon-html, 
				.icon-js, 
				.icon-nodejs, 
				.icon-reactjs, 
				.icon-reactnative {
					@include size(30px, 30px, none);
					background-size: 30px 30px;
				}

				.icon-css {
					
					@include bg('../img/icon-css.png', no-repeat, center, null);

					&.show { display: inline-block!important;}
				}

				.icon-html {
					@include bg('../img/icon-html.png', no-repeat, center, null);

					&.show { display: inline-block!important;}
				}

				.icon-js {
					@include bg('../img/icon-js.png', no-repeat, center, null);

					&.show { display: inline-block!important;}
				}

				.icon-nodejs {
					@include bg('../img/icon-nodejs.png', no-repeat, center, null);

					&.show { display: inline-block!important;}
				}

				.icon-reactjs {
					@include bg('../img/icon-reactjs.png', no-repeat, center, null);

					&.show { display: inline-block!important;}
				}

				.icon-reactnative {
					@include bg('../img/icon-reactnative.png', no-repeat, center, null);

					&.show { display: inline-block!important;}
				}

				span {
					@include text(12px, left, dimgray);
					display: block;

					&.none { display: none; }
				}
			}

			p {
				@include text(13px, left, dimgray);
				line-height: 1.5em;
				margin: 0 20px 30px 20px;
				padding: 10px 20px;
				border-radius: 5px;
				background-color: $lightgray;
			}

			a {
				@include size(50px, 30px, block);
				@include position(0, 0, null, null);
				@include bg('https://png2.cleanpng.com/sh/d89fb2d72a12b0227dbfd4d52e08fda1/L0KzQYm3WME3N5JAjJH0aYP2gLBuTfJzaZ9pRd54Z3AwgMP2hQVkfF5pfeVyZ36wdrF1lL1lep0yfJ92LYTrdX75jBd2bZ1ug9c2NXK6RoHqg8Q2a5RmUKc3Nki5QYqBVsYyPWQ5TKg8MUe1Q4m3Ub5xdpg=/kisspng-brand-logo-product-design-font-drl-d-m-the-roguelike-5b760cc45cca85.6861986615344631723801.png', no-repeat, center, 48px auto);
				@include radius-corners(null, 5px, 5px, null);
				padding: 10px;
				background-color: dimgray;
				transition: .3s;

				&:hover { background-color: $violet; }
			}

			span {
				&.followers {
					@include text(12px, left, dimgray);
					@include position(null, null, 0, 0);
					display: inline-block;
					padding: 5px 20px;

					strong {
						@include text(12px, center, $darkgray);
						font-weight: bold;
						background-color: rgba(27,31,35,.08);
						padding: 2px 5px;
						border-radius: 5px;
					}
				}
			}
		}
	}

	.map-container {
		@include size(100%, 600px);

		.map-pin {
			@include size(40px, 40px);
			border-radius: 50%;
			border: 4px solid $white;
		}
	}
}